# Appveyor file
# http://www.appveyor.com/docs/appveyor-yml

image: Visual Studio 2013

init:
  - git config --global core.autocrlf input

platform:
  - x86
  - x64

cache:
  - C:\Users\appveyor\.node-gyp
  - '%AppData%\npm-cache'

# what combinations to test
environment:
  global:
    nodejs_version: "6"

matrix:
  fast_finish: true

install:
  - C:\WinDDK\7600.16385.1\bin\setenv.bat C:\WinDDK\7600.16385.1\ fre %Platform% WIN7
  - copy redist\winusb\amd64\winusbcoinstaller2* redist\wdf\amd64\
  - copy redist\winusb\x86\winusbcoinstaller2* redist\wdf\x86\
  - cd C:\projects\winusb-driver-generator
  - git submodule update --init --recursive
  - ps: Install-Product node $env:nodejs_version $env:Platform
  - npm install --build-from-source
  - pip install cpplint

build: off

test_script:
  - npm test
  - node test.js

deploy_script:
  - ci\prebuild-publish.bat
